*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  h1{
    text-align: center;
    padding: 24px 0;
  }
    .center-align{
      text-align: center;
    
    }
  button{
    background-color: blue;
    padding: 10px 15px;
    border: 0;
    font-size: 16px;
    color: #FFF;
    margin: 24px 0;
    cursor: pointer;
  
  }
  .popup{
    background: rgb(0, 0, 0, .8);
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup-inner{
    background-color: #FFF;
    width: 500px;
    height: fit-content;
    padding: 50px;
    text-align: center;
  
  }